/****** General ***********/
* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.subtitle {
    font-size: 16px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-top: 30px;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header and Nav ******/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-header {
    height: 30px;
    margin: 20px;
    object-fit: contain;
}

nav ul {
    display: flex;
    height: 35px;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    padding: 0;
    gap: 50px;
}

nav li {
    padding-top: 14px;
    padding-left: 0;
}

nav li:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}

/****** Recherche ******/
.search {
    margin-top: 30px;
}

.search-form {
    display: flex;
    gap: 0;
    margin-top: 30px;
}

.search-form label {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
}

.search-form input {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
}

.search-form input[type="search"] {
    border: 1px solid var(--main-bg-color);
    border-right: none;
    margin-right: -10px;
}

.form-button-text {
    background-color: var(--main-color);
    border: none;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


.form-button-icon {
    display: none;
    background-color: var(--main-color);
    border: none;
    border-radius: 15px;
    padding: 15px;
}

.loupe-icon {
    color: white;
}

.search-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.search-filters p {
    font-weight: 700;
    margin-right: 10px;
}

.all-filters {
    display: flex;
    flex-direction: row;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: 2px var(--filter-bg-color) solid;
    border-radius: 20px;
    margin-right: 15px;
}

.filter p {
    margin-left: 10px;
}

.filter:hover {
    background-color: var(--filter-bg-color);
}

.search-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.search-information i {
    border: 1px solid #d9d9d9;
    padding: 10px 8.25px;
    border-radius: 50%;
    margin-right: 10px;
}

/****** Hebergements And Populaires ******/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
    box-sizing: border-box;
}

/****** Hebergements ******/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards a {
    display: inline-block;
    width: 31%;
}

.hebergements-cards .card img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    margin-bottom: 5px;
}

.hebergements-cards .card-rating {
    margin-bottom: 6px;
}

.text-add {
    display: inline-block;
    font-weight: 700;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    padding: 30px;
    margin-top: 30px;
}

.card-act {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
    padding: 0;
    margin-top: 30px;
}

.card-act img {
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-act h3 {
    margin: 20px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activites-cards a {
    width: 23%;
}

/****** Footer ***********/
footer {
    background-color: var(--main-bg-color);
    margin-top: 30px;
    padding: 20px;
}

.footer-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    width: 30%;
}

.info h4 {
    font-size: 18px;
}

.info ul {
    padding: 0;
    margin-top: 10px;
}

.info li {
    list-style-type: none;
    margin-top: 10px;
    font-size: 16px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card-act img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    header {
        flex-direction: column;
    }
    
    nav li {
        text-align: center;
        width: 50%;
        padding-bottom: 20px;
        justify-content: center;
    }
    
    nav li:hover {
        box-sizing: content-box;
        padding-bottom: 18px;
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }
    
    section {
        margin-top: 15px;
    }

    .form-button-text {
        display: none;
    }

    .form-button-icon {
        display: unset;
    }

    .search {
        margin: 20px;
    }

    .search-filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .all-filters {
        flex-wrap: wrap;
    }

    .filter {
        width: 35%;
        margin-top: 15px;
        overflow: hidden;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: unset;
    }

    .card {
        margin-top: 15px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements {
        background: white;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .activites-cards {
        flex-direction: column;
    }

    .activites-cards a {
        width: 100%;
    }

    .footer-infos {
        flex-direction: column;
    }

    .info {
        width: 100%;
        margin-top: 30px;
        margin-left: 20px;
    }
}