/****** General ***********/
* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

h1 {
    font-size: 22px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.subtitle {
    font-size: 16px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header and Nav ******/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
}

.logo-header {
    padding: 30px;
}

nav ul {
    height: 35px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: end;
}

nav li {
    padding-top: 14px;
    margin-left: 20px;
}

nav li:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

/****** Recherche ******/
.search {
    margin-top: 40px;
    margin-bottom: 40px;
}

.search h1 {
    margin-bottom: 10px;
}

.search-form {
    display: flex;
    margin-top: 30px;
    gap: 0;
}

.search-form label {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
}

.search-form input {
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
}

.search-form input[type="search"] {
    border: 1px solid #f2f2f2;
    border-right: none;
    margin-right: -15px;
}

.form-button-text {
    background-color: #0065fc;
    border: none;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 16px;
    font-weight: 600;
}

.form-button-icon {
    background-color: #0065fc;
    border: none;
    border-radius: 15px;
    padding: 15px;
}

.search-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.search-filters p {
    font-weight: 700;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border: 2px #d9d9d9 solid;
    border-radius: 20px;
    margin: 10px;
}

.filter p {
    margin-left: 10px;
}

.filter:hover {
    background-color: #d9d9d9;
}

.search-information {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.search-information i {
    border: 1px solid #d9d9d9;
    padding: 10px;
    border-radius: 50%;
}

.search-information p {
    margin-left: 10px;
}

/****** Hebergements And Populaires ******/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ******/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
@media (min-width: 768px) {
    .form-button-icon {
        display: none;
    }
}


/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .form-button-text {
        display: none;
    }
}